//Fonts
$title: 'Rubik', sans-serif;
$body: 'Karla', sans-serif;


//Colors
$black: #303030;
$white: #f5f5f5;
$red: #F03C4B;
$yellow: #ffda37;
$lightBlue: #319FEA;
$extraLightBlue: #B9E1FF;
$gray: #6B6B6C;
$lightGray: #B8B8B8;
$purple: #AA50E6;
$lightGreen: #3CC37D;
$cyan: #19C8D2;
$orange: #fb8500;
$tech: #4D113E;